node_modules/
**/node_modules/

dist/
out/
release/
.vite/
.turbo/
coverage/
*.tsbuildinfo

*.log
*.local
.env
.env.*
!.env.example
config.json

.idea/
.vscode/
.DS_Store
Thumbs.db

*.asar
*.exe
*.blockmap
